
.DS_Store
PDAI/.DS_Store
PDAI/slides/.DS_Store
PDAI/slides/01introduction.aux
PDAI/slides/01introduction.log
PDAI/slides/01introduction.nav
PDAI/slides/01introduction.out
PDAI/slides/01introduction.synctex.gz
PDAI/slides/references.aux
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/