
.DS_Store
PDAI/.DS_Store
PDAI/slides/.DS_Store
PDAI/slides/01introduction.aux
PDAI/slides/01introduction.log
PDAI/slides/01introduction.nav
PDAI/slides/01introduction.out
PDAI/slides/01introduction.synctex.gz
PDAI/slides/references.aux
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/
.DS_Store
SLLD/.DS_Store
.DS_Store
SLLD/.DS_Store
SLLD/.DS_Store
PDAI/jupyter/jupyterNotebooks/__pycache__/test_import_py.cpython-39.pyc
.DS_Store
PDAI/jupyter/jupyterNotebooks/__pycache__/pdai_utils.cpython-39.pyc
PDAI/jupyter/jupyterNotebooks/covid_lastday.csv
PDAI/jupyter/jupyterNotebooks/covid_lastday_b.csv
PDAI/jupyter/jupyterNotebooks/covid_more_than_25k.csv
PDAI/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/box_plot_ref_needed-checkpoint.png
.DS_Store
PDAI/jupyter/jupyterNotebooks/interactive_chart.html
PDAI/jupyter/jupyterNotebooks/data/.ipynb_checkpoints/WBCD_outliers_for_doctors-checkpoint.csv
PDAI/jupyter/jupyterNotebooks/data/best_trained_model
PDAI/jupyter/jupyterNotebooks/data/scaler
